.formBackground {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.767);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.display {
    display: none;
}

form {
    background-color: rgb(44, 33, 33);
    border: 3px solid rgb(255, 218, 218);
    box-sizing: border-box;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    width: 40vh;
    height: 50vh;
    color: white;
    font-size: 2rem;
}


/* 38/ title, author, pages */
form input:nth-of-type(1), form input:nth-of-type(2), form input:nth-of-type(3) {
    font-size: 2rem;
    width: 30vh;
    height: 4vh;
}

/* 45/ Read input */
form label input:nth-of-type(1) {
    width: 3vh;
    height: 3vh;
    margin-top: 5vh;
}
/* submit button */
form button {
    width: 15vh;
    height: 4vh;
    outline: none;
}

form button:hover, form label input:nth-of-type(1):hover {
    cursor: pointer;
}

.allBooks {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgb(180, 147, 147);
}

.newBook {
    height: fit-content;
    width: fit-content;
    padding: 2vh;
}

.readColor {
    background-color: green;
}

.unreadColor {
    background-color: rgb(214, 156, 108);
}